<!DOCTYPE html>
<html>
  <head>
    <title>fainal_Exam_css</title>
    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(242, 248, 248);
      }
      .flix_0 {
        margin: 50px auto;
        display: flex;
        justify-content: space-evenly;
      }
      /* تشجيل الدخول */
      .flix_1 {
        padding: 20px;
        background-color: white;
        border: groove white 1px;
        align-items: center;
        position: relative;
        padding-bottom: 50px;
        margin-left: 90px;
      }
      /* فن وشاي */
      .flix_2 {
        padding: 30px;
        align-items: center;
        position: relative;
        padding-left: 100px;
      }
      .s2,
      .d2,
      .f2 {
        display: flex;
      }
      .f1 {
        display: flex;
      }
      .s2,
      .d2 {
        margin-right: 50px;
      }
      .f2 {
        margin-right: 100px;
      }
      .s2,
      .d2,
      .f2 {
        padding: 15px;
      }
      .img_4,
      .img_5 {
        width: 25px;
        height: 25px;
        padding: 15px;
        border: groove 1px;
      }
      .input_0,
      .input_1 {
        width: 250px;
        height: 50px;
      }
      .img_4,
      .input_0 {
        display: flex;
        display: inline;
      }
      .zorar_0,
      .zorar_1 {
        background-color: RGB(61, 180, 183);
        color: white;
        padding: 10px 10px;
        border-radius: 9px;
      }
      .zorar_0 {
        margin: 25px;
        padding: 20px 120px;
      }
      img {
        color: RGB(61, 180, 183);
      }
      .aa1,
      .aa2,
      .aa3 {
        font-size: x-large;
        font-weight: 600;
      }
      .ss1 {
        font-size: 50px;
      }
      .img_1,
      .img_2,
      .img_3 {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <div class="flix_0">
      <form>
        <div class="flix_1" dir="rtl">
          <div class="a1">
            <h2>تسجيل الدخول الي حسابك</h2>
          </div>
          <div class="s1">
            <img
              class="img_4"
              src="/html_css/icons/icon_4.png"
              alt="email"
              width="30px"
              height="30px"
            />
            <input
              class="input_0"
              type="email"
              placeholder="البريد الالكترونى"
            />
          </div>
          <br />
          <div class="d1">
            <!--لو عايز  اظهر الصورة على المتصفح   D:/Edraak   -->
            <img
              class="img_5"
              src="/html_css/icons/icon_5.png"
              alt="pass"
              width="30px"
              height="30px"
            />
            <input class="input_1" type="password" placeholder="كلمة السر" />
          </div>
          <br />
          <div class="f1">
            <input type="checkbox" value="check_1" />
            <label> البقاء متصلا </label>
            <pre>                   <a href="#">هل نسيت كلمةالمرور؟</a> </pre>
          </div>
          <div class="g1">
            <a href="http://www.edraak.org">
              <input type="submit" class="zorar_0" value="تسجيل الدخول" />
            </a>
          </div>
        </div>
      </form>
      <div class="flix_2" dir="rtl">
        <div class="a2">
          <h1 class="ss1">فن وشاي</h1>
          <div>
            دروس فن وشاي هو موقع للاسترخاء من خلال الالوان ارسم ولون واحصل على
            اروع الاوقات مع اصدقائك او عائلتك
          </div>
          <br />
          <a href="http://www.edraak.org">
            <input
              type="submit"
              class="zorar_1"
              value="سجل على دروس فن  وشاي"
            />
          </a>
        </div>
        <br /><br />
        <div class="s2">
          <img
            src="/html_css/icons/icon_1.png"
            alt="cost"
            width="40px"
            height="40px"
            class="img_1"
          />
          <div>
            <dev class="aa3">سهولة الشراء لوحتنا</dev>
            <div>
              يعمل فريق فن وشاي جاهدا يوصل لوحتنا الي الزبائن بافضل جودة واسرع
              وقت
            </div>
          </div>
        </div>
        <br />
        <div class="d2">
          <img
            src="/html_css/icons/icon_2.png"
            alt="cost"
            width="40px"
            height="40px"
            class="img_2"
          />
          <div>
            <div class="aa2">ضمان استعادة النقود</div>
            <div>
              في حال حدوث اى خطاء في التسجبل يمكنك بسهوله اعادة التسجيل او
              استرجاع النقود
            </div>
          </div>
        </div>
        <br />
        <div class="f2">
          <img
            src="/html_css/icons/icon_3.png"
            alt="cost"
            width="40px"
            height="40px"
            class="img_3"
          />
          <div>
            <div class="aa1">التقييم والمراجعه</div>
            <div>
              تقييمك لدروسنا سوف يساعدنا ويساعد المعلمين علي توفير خدمه افضل
              بالمستقبل كما انه سوف يساعد الطالب على اختيار رسمته الخاصه ورسمها
              مع معلمين ممتازين بخبرات فائقه
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
